@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

p{
    font-size: 18px;
}

.content{
    width: 1000px;
    height: 600px;
    box-shadow: 3px 11px 29px -21px rgba(17, 37, 212, 1);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 60px;
}

.section{
    width: 50%;
    height: 100%;
}

.result{
    /*background: hsl(234, 85%, 45%);*/
    border-radius: 50px;
    background: linear-gradient(180deg, rgba(120,87,255,1) 10%, rgba(46,43,233,1) 100%);
}

.result h2{
    text-align: center;
    color: rgba(255,255,255,0.7);
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 27px;
}

.result h1{
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 35px;
}

.result > p {
    text-align: center;
    margin-left:20px;
    margin-right:20px;
    color: rgba(255, 255, 255, 0.82);
}

.circle{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: auto;
    background: linear-gradient(180deg, rgba(78,33,202,1) 45%, rgba(36,33,208,0) 100%);
}

.circle p{
    margin: 0;
}

.circle p:nth-child(1){
    font-size: 80px;
}

.summary{
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;

}

.summary h2{
    margin-top: 60px;
    color: rgba(0, 0, 0, 0.73);
    font-size: 30px;
    margin-bottom: 40px;
}

.attribution{
    text-align: center;
    position: fixed;
    bottom: 30px;

}

.parts{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: red;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.label{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 19px;
}

.label img{
    margin-right: 10px;
    height: 50%;
    width: auto;
}

.score{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 19px;
}

.continue-button{
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-top: 40px;
    user-select: none;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.continue-button:hover{
    background: rgba(0, 0, 0, 0.5);
}



@media(max-width: 795px){
    .content{
        flex-direction: column;
        height: max-content;
    }

    .section{
        width: 100%;
    }

    .continue-button{
        margin-bottom: 50px;
    }

    .result > p{
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
    }
}

@media(max-width: 450px){
    .content{
        margin: 0;
        border-radius: 0;
    }

    .result{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}